<div particles></div>
<div class="">
    <div class="ui inverted primary fixed top menu">
        <div class="item">
            <!--<img class="image" src="/images/RH_R.png">-->
        </div>
        <div class="item">
            <h2 class="heading brand">Sirius Cybernetics Corporation</h2>
        </div>
        <!--<a ui-sref="user.history" ui-sref-active="active" class="item">Option1</a>-->
        <!--<div class="right menu">
          <a ui-sref="login" ng-click="logout()" class="item">Logout</a>
        </div>-->
    </div>
</div>


<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>

<div class="ui container">
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">First</a>
        <a class="item inactive" data-tab="second">Second</a>
        <a class="item inactive" data-tab="third">Third</a>
        <a class="item inactive" data-tab="ex">Example</a>
        <a class="item inactive" data-tab="ex2">Example With Graph</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <div class='tableauPlaceholder' id='viz1497715320130' style='position: relative'>
            <noscript><a href='#'><img alt='Average Teen Birth Rates for Counties '
                                       src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Av&#47;AverageTeenBirthRates-IndianaCounties&#47;AvgTeenBirthrates&#47;1_rss.png'
                                       style='border: none'/></a></noscript>
            <object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
                <param name='site_root' value=''/>
                <param name='name' value='AverageTeenBirthRates-IndianaCounties&#47;AvgTeenBirthrates'/>
                <param name='tabs' value='no'/>
                <param name='toolbar' value='yes'/>
                <param name='static_image'
                       value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Av&#47;AverageTeenBirthRates-IndianaCounties&#47;AvgTeenBirthrates&#47;1.png'/>
                <param name='animate_transition' value='yes'/>
                <param name='display_static_image' value='yes'/>
                <param name='display_spinner' value='yes'/>
                <param name='display_overlay' value='yes'/>
                <param name='display_count' value='yes'/>
                <param name='filter' value='publish=yes'/>
            </object>
        </div>
        <script type='text/javascript'>                    var divElement = document.getElementById('viz1497715320130');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width = '100%';
        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        Second
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        Third
    </div>
    <div class="ui bottom attached tab segment" data-tab="ex">
        Example Data<p/>
        <img src="https://files.slack.com/files-pri/T5VB2FQ0M-F5VASHB7U/image.png?pub_secret=05a95a44ad"
             alt="example data plot" style="width: 75%" align="middle">
    </div>
    <div class="ui bottom attached tab segment" data-tab="ex2">
        Example Data w/ real graph<p/>
        <div class='tableauPlaceholder' id='viz1497713774640' style='position: relative'>
            <noscript><a
                    href='http:&#47;&#47;www.infodata.ilsole24ore.com&#47;2016&#47;12&#47;12&#47;tutti-premier-della-repubblica-degli-ultimi-50-anni-volto-del-governo&#47;?utm_source=dlvr.it&amp;utm_medium=twitter'><img
                    alt='Ritratto di una nazione '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ri&#47;Ritrattodiunanazione50annidigoverniitaliani&#47;Ritrattodiunanazione&#47;1_rss.png'
                    style='border: none'/></a></noscript>
            <object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
                <param name='site_root' value=''/>
                <param name='name' value='Ritrattodiunanazione50annidigoverniitaliani&#47;Ritrattodiunanazione'/>
                <param name='tabs' value='no'/>
                <param name='toolbar' value='no'/>
                <param name='static_image'
                       value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ri&#47;Ritrattodiunanazione50annidigoverniitaliani&#47;Ritrattodiunanazione&#47;1.png'/>
                <param name='animate_transition' value='yes'/>
                <param name='display_static_image' value='yes'/>
                <param name='display_spinner' value='yes'/>
                <param name='display_overlay' value='yes'/>
                <param name='display_count' value='yes'/>
            </object>
        </div>
        <script type='text/javascript'>                    var divElement = document.getElementById('viz1497713774640');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.minWidth = '804px';
        vizElement.style.maxWidth = '854px';
        vizElement.style.width = '100%';
        vizElement.style.height = '669px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </div>
</div>
