<div particles></div>
<div class="">
  <div class="ui inverted primary fixed top menu">
    <div class="item">
      <!--<img class="image" src="/images/RH_R.png">-->
    </div>
    <div class="item">
      <h2 class="heading brand">Sirius Cybernetics Corporation</h2>
    </div>
    <!--<a ui-sref="user.history" ui-sref-active="active" class="item">Option1</a>-->
    <!--<div class="right menu">
      <a ui-sref="login" ng-click="logout()" class="item">Logout</a>
    </div>-->
  </div>
</div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="ui container">
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">First</a>
        <a class="item active" data-tab="second">Second</a>
        <a class="item active" data-tab="third">Third</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        First
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        Second
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        Third
    </div>
</div>
